:root {
    --grey500: hsl(234, 12%, 34%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: hsl(212, 6%, 44%);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
}  

/* Header textual content */
h1 {
    color: var(--grey500);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h1 span {
    font-weight: 200;
}

#introductory-text {
    margin-bottom: 1.5rem;
}

/* Card content */
#card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem auto;
    text-align: center;
    width: 20rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.3rem;
    box-shadow: 0rem 0.625rem 1rem rgba(76, 78, 97, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    padding: 2rem 1.875rem;
    text-align: left;
}

/* Card border tops */
.supervisor {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}

/* Card text */
h2 {
    color: var(--grey500);
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img {
    align-self: flex-end;
    padding: 1rem 0;
    width: 4rem;
}